<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

<p>

<strong>Pending Appointments:</strong>

  <% @specialist.appointments.each do |r|%>

 <% if r.appointment_date >=  Time.now %>
        <% elsif r.appointment_date < Time.now %>
<br> <% 'No Appointments' %>
        <%end%>
   <%end%>

</p>


<p>
  <strong> Appointment Date:</strong>
<% Time.now %>
  <% @specialist.appointments.each do |r| %>
  <%end%>

</p>

<p>
  <strong>Days til Appointment </strong>
  <% Time.now%>
<%@specialist.appointments.each do |r| %>
  <% d = d.appointment_date.to_date - Time.now.to_date %>
      <% if d >= 0 %>
      <%= d.to_i %> Days
          <% elsif d < 0 %>
      <%= 'None' %>
          <%end%>
      <%end%>
</p>

<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
